<div class="user-header text-center">
  <h1 class="title-medium">
    List of tags #<%= @tag.name %>
  </h1>
</div>

<div class="user-questions buffer-both">
  <div class="questions-list">
    <% @questions.each do |question| %>
    <%= render partial: 'questions/question', object: question %>
    <% end %>
  </div>
</div>
